@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

body {
  background: rgba( 245, 245, 245, 1);
}

.main-content {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(255,120,120,20) 0%, rgba(245, 245, 245, 20) 100%);
  font-family: Poppins, sans-serif;
  color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  padding: 2em;
  width: 800px;
  margin: 0 auto;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  font-size: 20px;
}

.github-link {
  color: rgb(253, 204, 204);
  font-size: 30px;
}

.right-nav i {
  margin-right: 20px;
}

.main-header {
  font-size: 30px;
  color: #1f1f1f;
}

.timer-container {
  width: 800px;
  margin: 0 auto;
  padding: 55px 0;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;
}

.timer-types {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.timer-types-container {
  margin-bottom: 50px;
}

.btn {
  padding: 10px 20px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0px 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
}

.btn:hover {
  background-color: #ffe7e7;
}


.activeBtn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.timer {
  font-size: 110px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
  color: #000000;
}

.timer-options-container {

}

.timer-options {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.quote-container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 10px;
}

.quote-author {
  font-size: 15px;
}

.more-info-container {
  text-align: center;
  width: 800px;
  margin: 0 auto 20px;
}

.more-info {
  margin-bottom: 10px;
  font-size: 20px;
}

.additional-info {
  width: 800px;
  margin: 40px auto;
  font-family: Poppins, sans-serif;
  color: #1b1b1b;
}

.additional-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.additional-info p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}